body{
  background-color: #002D72;
  font-family: Lora, Arial;
}

p{
  font-size: 22px;
  color: #FFFFFF;
  margin-top: 0;
}

.h2{
  font-family: Lora, Arial;
  color:#FF5910;
  font-size: 27px;
  margin-left: 700px;
}

.h1{
  color: #FFFFFF;
  position: absolute;
  top: 120px;
  margin-bottom: 40px; 
}

.header{
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: #FF5910;
  font-size: 27px;
  color:#002D72;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  width: 900px;
}

.box{
  border-color: #FFFFFF;
  border-style: solid;
  border-width: 0px 2px 2px 2px;
  margin-top: 60px;
}

.history-container{
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-bottom: 20px;
}

.story-pic{
  margin-top: 20px;
  height:600px;
  width:600px;
}

.mr-mets{
  height: 140px;
  width: 140px;
}

.note{
  margin-left: 500px;
}
