body{
  background-color: #002D72;
  font-family: Lora, Arial;
}

p{
  font-size: 22px;
  color: #FFFFFF;
  margin-top: 0;
}

.h2{
  display: inline-block;
  font-family: Lora, Arial;
  color:hsl(18, 100%, 53%);
  font-size:30px;
  padding-left: 60px;
}

.h1{
  color: #FFFFFF;
  position: absolute;
  top: 120px;
}

.header{
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: #FF5910;
  font-size: 27px;
  color:#002D72;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.outline{
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
}
.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  width: 900px;
}


/* .history-container{
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-bottom: 20px;
} */

.story-pic{
  margin-top: 20px;
  height:450px;
  width:450px;
}

.mr-mets{
  height: 140px;
  width: 140px;
}

.note{
  margin-top: 20px;
 
}

@media (max-width: 820px) {
  .outline {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 821px) and (max-width: 1000px) {
  .outline {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1001px) {
  .outline {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.intext-note{
  color:#1dbab4;
  /* //color: #00ddff; */
  
}