body{
  color: black;
  background-color: #FBFCF8;
  text-decoration: none;
  height: 2000px;
}

p{
  font-family: Lora, Arial;
  }

.my-name{
  font-weight: 400;
  font-size: 25px;
}

.email{ 
  text-decoration: underline;
  font-size: 18px;
}

.college, .education{
  font-size: 20px;
  font-weight: 400;
}

.degree{
  font-size: 15px;
  font-weight: 400;

}

.container2 div{
  margin-top: 7px;
  margin-bottom: 7px;
}

.my-pic{
  height: 300px;
  width: 300px;
  object-fit:cover;
  margin-right: 15px;
}

.container{
  background-color: #FAFAFA;
  position: absolute;
  left: 200px;
  top: 180px;
}

.topics{
  background-color: #fbfaf2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 22px;
  position: fixed;
  top:0;
  right:12px;
  left: 12px;
  height: 40px;
  z-index: 100;

}

.project1{
  text-decoration: none;
  color: black;
}

.baltimore{
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.thumbnail-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.introduction{
  margin-left:20px;
  border-radius: 4px;
  border-style: none;
  background-color: #FCFBFC;
  padding:20px 20px 20px 20px;
  position: relative;
}

.contact-thumbnail{
  height: 60px;
  width: 60px;
  object-fit: cover;
}


.contact-links{
  position: absolute;
  bottom:-100px;
  right: 10px;
  cursor: pointer;
}

.topics div{
  cursor: pointer;
}

.about-me{
  color: black;
}

.education{
  display: flex;
  justify-content: space-between;
}

.tech-icon{
  object-fit: contain;
  width:50px;
  height:50px;
}

.right-section{
  position: absolute;
  padding-top: 800px;
}

.left-section{
  position: relative;
  padding-left: 300px;
  padding-top: 80px;
  right:50px;
  z-index: 50;
}